{% extends "base.njk" %}

{% block content %}
    <main>
        {% include "_partials/cover.njk" %}
 <section class="section-latest">
            {% include "_partials/list-articles.njk" %}
        </section>


    </main>
{% endblock %}